<h2> Available Pets </h2>

<% @pets.each do |pet| %>
  <h2><img src="<%= pet.image %>"></h2>
  <h3><%= pet.name %></h3><br>
  Approximate age: <%= pet.approximate_age %><br>
  Sex: <%= pet.sex %><br>
<% end %>
